<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Guess The Lyrics</title>
    </head>
    <body>
        <nav id ="navbar"></nav>
        <main>
            <header>
                <h1 name="home" class="home">Guess The Lyrics</h1>
            </header>
            <section class="options">
                <h3>Click below to play!</h3>
                <div>
                    <a href="/guess">Start</a>
                </div>
            </section>
            <section id="description">
                <p>Guess The Lyrics is a game that test your knowledge of song lyrics! 
                    You will have to guess missing lyrics from songs with or without the knowledge of the song title itself. In order to make a guess, simply type a word in the textbox, and if it's correct, the missing lyric will be revealed. Good luck!</p>
            </section>
        </main>
        <footer class="footer"></footer>
    </body>
    <script type="module" src="/static/game_logic.js"></script>
</html>