<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/game.css">
        <title>Guess The Lyrics | Lyric Game</title>
    </head>
    <body>
        <nav id="navbar"></nav>
        <main>
            <header>
                <h1 name="home" class="home">Guess The Lyrics</h1>
            </header>
           <section class="game-settings" id="settings" style="display: block">
            <form id="selection">
                <div class="form-row">
                    <div class="form-group">
                        <label for="artist">Choose An Artist:</label>
                        <select id="artist" name="artist" required>
                            <option value="random">Random</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="song">Choose A Song:</label>
                        <select id="song" name="song" required>
                            <option value="random">Random</option>
                        </select>   
                    </div>
                    
                    <div class="form-group">
                        <div class="timer-inputs">
                            <div class="timer-field">
                                <label for="minutesInput">Minutes:</label>
                                <input type="number" id="minutesInput" min="0" value="0">
                            </div>
                            <div class="timer-field">
                                <label for="secondsInput">Seconds:</label>
                                <input type="number" id="secondsInput" min="0" max="59" value="0">
                            </div>
                        </div>
                    </div>
                </div>
                
                <button type="submit" id="startBtn">Start Game</button>
            </form>
        </section>
            <section id="instructions" style="display: block">
                <h2>How To Play</h2>
                <p id="bold">To start the game make sure you set the Timer!!!</p>
                <ul id="instruction_list">
                    <li>To Guess Lyrics for a random Song: Just set the timer and hit Submit!</li>
                    <li>To Guess Lyrics for a random Song, but for a specific Artist: Just select the artist, and hit Submit!</li>
                    <li>To Guess Lyrics for a specific Song: Select both the artist and the song and hit Submit! </li>
                </ul>
            </section>
            <section id="game" style="display: none;">
                <div id="display">00:00</div>
                
                <label id="answer">Type Lyrics Below:</label>
                <input type="text" id="gameinput" class="answerEntry" 
                       placeholder="Type Here..." 
                       autocapitalize="off" 
                       spellcheck="false" 
                       autocomplete="off" 
                       autocorrect="off">
                <button id="pauseBtn">Pause</button>
                <button id="stopBtn">Stop</button>
                <button id="resetBtn">Reset</button>
                <div id="score">0/0</div>
            </section>
            <section id="lyrics" style="display: none;">
                
                <table id="lyrics-table">
                </table>
            
            </section>
        </main>
        
        <footer class="footer"></footer>
        <script type="module" src="/static/game_logic.js"></script>
    </body>
</html>