<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Guess The Lyrics | Lyric Game</title>
    </head>
    <body>
        <nav id ="navbar"></nav>
        <main>
            <header>
                <h1 name="home" class="home">Guess The Lyrics</h1>
            </header>
            <section class="game-settings">
                <label for="artist">Choose An Artist:</label>
                <select id="artist" name="artist">
                    <option value="macmiller">Add artists using js here</option>
                </select>
                <label for="song">Choose A Song:</label>
                <select id="song" name="song">
                    <option value="perfectcirclegodspeed">Add song titles using js here</option>
                </select>
                <button>Start</button>

            </section>
            <section id="game">
                <textarea>Type Lyrics Here...</textarea>
               
            </section>
        </main>
        <footer class="footer"></footer>
    </body>
</html>